[Unit]
Description=StrashBot
After=network-online.target
 
[Service]
Type=simple
OOMScoreAdjust=-1000

 
User={{ strashbot.username }}
WorkingDirectory={{ root_dir }}/{{ install_dir }}
ExecStart= sh launch.sh
 
Restart=on-failure
 
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300
 
[Install]
WantedBy=multi-user.target
