${STRASHBOT_USER} ALL=(ALL) NOPASSWD: /bin/systemctl start ${CRAFT_SERVICE}
${STRASHBOT_USER} ALL=(ALL) NOPASSWD: /bin/systemctl stop ${CRAFT_SERVICE}
${STRASHBOT_USER} ALL=(ALL) NOPASSWD: /bin/systemctl restart ${CRAFT_SERVICE}
${STRASHBOT_USER} ALL=(ALL) NOPASSWD: /bin/systemctl is-active ${CRAFT_SERVICE}
${STRASHBOT_USER} ALL=(ALL) NOPASSWD: /home/${STRASHBOT_USER}/${CRAFT_DIR}/craft_script.sh UPDATE_JOIN
