#!/bin/bash


STRASHBOT_VER="${STRASHBOT_DISCORD_VER}"
export STRASHBOT_BUILD="${STRASHBOT_DISCORD_BUILD}"

export STRASHBOT_TOKEN="${STRASHBOT_DISCORD_TOKEN}"

export STRASHBOT_MASTERID="${STRASBHOT_MASTER_DIRCORD_ID}"

node bot_main.js
