#!/bin/bash


export STRASHBOT_VER="${STRASHBOT_DISCORD_VER}"
export STRASHBOT_BUILD="${STRASHBOT_DISCORD_BUILD}"
export STRASHBOT_SRC="${STRASHBOT_SOURCE_CODE_URL}"

export STRASHBOT_TOKEN="${STRASHBOT_DISCORD_TOKEN}"

export STRASHBOT_MASTERID="${STRASBHOT_MASTER_DIRCORD_ID}"

export STRASHBOT_DEBUG="${STRASHBOT_DISCORD_DEBUG}"

node bot_main.js
