[Unit]
Description=SRB2 Kart Server
After=local-fs.target network.target

[Service]
Type=simple
User=strashbot
WorkingDirectory=/home/strashbot
ExecStart=sh .srb2kart/server_script.sh
ExecStop=sh .srb2kart/addon_script.sh CLEAN
